body{
  width: 100%;
  /* height: 100vh; */
}
header{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  
}
h1, h2, h3{
  text-align: center;
  margin-bottom:24px;
}
ul.lists{
  display: flex;
  
}
ul.lists a{
  display: block;
  text-decoration:none;
}
ul.lists li{
  list-style: none;
  padding-left: 22px;
}
ul.lists li:hover{
  transform: scale(1.2);
  text-decoration: underline solid 2px black;
}
 div.img-content{
  /* height: 300px;
  width: 300px; */
  background-image:url(./images/computer-002.jpg);
  background-repeat:no-repeat;
  background-position:bottom;
  background-size:cover;
}
div.about, div.works p{
  padding-left: 12px;
}

div.work-content img{
  width: 300px;
  height: 300px;
}
div.work-content img:hover{
  transform: scale(1.5);
  transition-duration:.8s;
}
div.work-content{
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap:30px
}
div.contact-form{
  display: flex;
  justify-content:center;
  align-items:center;
  margin-top: 20px;
}
div.contact-form form{
  background-color: rgb(188, 188, 188);
  
  width: 60%;
  text-align:center;
  height: 500px;
}
div.contact-form label{
  float: left;
  padding-left: 12px;
}
div.contact-form div{
  padding-top: 12px;
  
}
div.contact-form input{
  width:20%;
  margin-left: 20px;
}
div.contac-form textarea{
  width: 30%;
}
div.contact-form label.required:after{
  content:"maru";
  color:red;
}
button[type="submit"]{
  width: 20%;
  height: 30px;
  background: rgb(202, 197, 197);
  color:white;
  margin-top: 20px;
  border: none;
  border-radius: 2em;
}
button[type="submit"]:hover{
  color:black;
  border:1px solid black;
}
@media screen and (max-width:600px) {
  div.contact-form textarea{
    width: 30%;
  }
}